.main{
    display:flex;
    
    justify-content:space-evenly;
    
    margin-left: 310px;
  
   
}
.camel{
    border:solid;
    background-color: #7FFFD4;  
}
.chameleon{
    border:solid;
    background-color:#F08080;
}
.cicada{
    border:solid;
    background-color:#D3D3D3
}
.panda{
    border:solid;
    background-color:#FFFACD
}
.pigeon{
    border:solid;
    background-color:#D3D3D3
}
.teddy{
    border:solid;
    background-color:#87CEFA
}
.text{
    position:absolute;
    margin-top:"10%";
    margin-left:500px
   
}



